body {
  margin: 0px;
}
div.inout {
  float: right;
  padding-top: .5em;
  display: inline;
  img {
    border: 1px solid black;
  }
  .profile {
    width: 2.25em;
    height: 2.25em;
    display: inline;
    margin: 3px;
  }

}
